* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background: linear-gradient(to right, rgb(116, 116, 191), rgb(52, 138, 199));
    min-width: 100%;
    height: 100vh;
    position: relative;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html {
    font-size: 62.5%;
}

@media only screen and (max-width: 75em) {

    /* < 1200px*/
    html {
        font-size: 56.25%;
        /* 1rem = 9px */
    }
}

@media only screen and (max-width: 56.25em) {

    /* < 900px*/
    html {
        font-size: 50%;
        /* 1rem = 8px */
    }
}

@media only screen and (max-width: 37.5em) {

    /* < 600px*/
    html {}
}

.watch {
    width: 10rem;
    height: 10rem;
    border: .8rem solid #fff;
    border-radius: 50%;
    padding: 1rem;

}

.hand {
    width: 50%;
    height: .4rem;
    background-color: #000;
    position: absolute;
    top: 50%;
    transform: rotate(90deg);
    transform-origin: 100%;
    transition: all cubic-bezier(0, 5.1, 0.58, 1) 0.05s;


}

.watch__inner {
    transform: translateX(-4px);
    position: relative;
    width: 100%;
    height: 100%;
}

.calc__close,
.calc__min,
.calc__big {
    width: 1.2rem;
    height: 1.2rem;
    background-color: rgb(255, 59, 48);
    border-radius: 50%;
    position: absolute;
    top: .5rem;
    left: .5rem;
}

.calc__min {
    background-color: rgb(255, 204, 0);
    left: 2.5rem;
}

.calc__big {
    background-color: rgb(76, 217, 100);
    left: 4.5rem;
}



#calc {
    width: 30rem;
    height: 40rem;
    box-shadow: 0 1rem .6rem -.6rem #777;

}

.calc__results {
    width: 100%;
    height: 15rem;
    background-color: #383838;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 3rem;
    color: #fff;
    overflow: hidden;
    padding-right: 2.5rem;
    position: relative;

}

.row {
    width: 100%;
    height: 5rem;
    display: flex;
}

.calc__btn,
.calc__btn-op,
#calc__decimal {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    border: 1px solid #fff;

}

.calc__btn-op {
    background-color: orange;
}

.calc__btn {
    background-color: silver;


}

#calc__decimal {
    background: silver;
}

.toggle {
    background-color: red !important;
}

#calc__clear {
    width: 50%;
    background: silver;
}

#calc__backspace {
    background: silver;
}

#calc__0 {
    width: 50%;
}